

.homeIcon {
	width: 30px;
}

.flagContainer {
    float: right;
    white-space: nowrap;
}

.flagIcon {
    width: 30px;
}

.navbar {
	
	/* 	rounded corners */
	border-radius: 5px;
	margin: 20px 0px;
}

.subpageHeadline {
	text-align: center;
	font-weight: 300;
}

