body {
	margin: 24px;
}

.pageRow {
  display: flex;
}

.pageColumnLeft {
  float: left;
  width: 30%;
}

.pageColumnCenter {
  float: center;
  width: 40%;
}

.pageColumnRight {
  float: right;
  width: 30%;
}


.flagContainer {
    width: 32px;
    height: 24px;
    float: right;
    white-space: nowrap;
}

/* resize images */
.flagContainer img {
    width: 100%;
    height: auto;
}